.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lightning {
    width: 300px;
    position: relative;
    animation: lightning 2s linear infinite;
}

@keyframes lightning {
    0% {
        opacity: 1;
        top: -20px;
    }
    25% {
        opacity: 0.5;
        top: -10px;
    }
    50% {
        opacity: 0.1;
        top: 0px;
    }
    75% {
        opacity: 0.8;
        top: -10px;
    }
    100% {
        opacity: 1;
        top: -20px;
    }
}

.lightning2 {
    width: 150px;
    position: relative;
    top: -80px;
}
.logo {
    width: 400px;
    position: relative;
    top: -94px;
}

.clouds {
    width: 300px;
    animation: cloud 2s linear infinite;
    position: relative;
}

@keyframes cloud {
    0% {
        top: -20px;
        border: solid 3px var(--yellow);
    }

    50% {
        top: -5px;
        right: 0px;
        border: solid 3px var(--neon)
    }

    100% {
        top: -20px;
        border: solid 3px var(--red);
    }
}