.welcome_container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.welcome_wrapper {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #fdda00;
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column;
    right: 0;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 30%);
    background: #ffffff1f;
    z-index: 1;
}
.welcome_wrapper h4 {
    font-size: 30px;
    font-family: monospace;
    color: #FFD369;
    font-weight: bolder;
    background: transparent;
}

.primary_button {
    background: #FFD369;
    border-radius: 5px;
    border: none;
    font-size: 10px;
    padding: 10px 20px;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
}

.primary_button:hover {
    background: #fdda00;
}

.button_wrapper {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 13px;
}
.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: baseline;
}
.footer .cat {
    width: 150px;
    position: relative;
    left: 10px;
}
.footer .people {
    position: relative;
    width: 280px;
}

.input_wrapper {
    margin-bottom: 1rem;
}

.input_wrapper h4{
    color: #FFD369;
    font-family: monospace;
    font-size: 20px;
    margin-bottom: 5px;
}

.input_wrapper input {
    width: 100%;
    background: transparent;
    border: 2px solid #FFD369;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    color: #FFD369;
    font-weight: bold;
    font-family: monospace
}

.form {
    position: relative;
    top: -60px;
    z-index: 1;
}

.checkbox_label {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.checkbox_label h3 {
    font-size: 15px;
    font-family: monospace;
    color: white;
    margin-right: 10px;
}
.checkbox_label input {
    accent-color: #FFD369;
    width: auto;
}
.checkbox_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding: 0 10px;
}

.paw{
    width: 8rem;
    cursor: pointer;
}